{% extends 'layoutdobinfo.html.twig' %}

{% block title %}SYGDOB| Recherche d'utilisateur{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <!-- Column -->

            <div class="col-lg-4 offset-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">LES IEPP </h3>
                        <h6 class="card-subtitle">Afficher les utilisateurs par IEPP</h6>
                        <form  action="{{ path('sygdob_redirecttableuserbyiepdobinfo') }}" method="post">


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ti-home"></i></span>
                                </div>
                                {{ form_widget(form.ieppname,{'attr': {'class': 'select2 form-control custom-select'}}) }}
                                <div class="input-group-append">
                                    <button class="btn btn-success">Ok</button>
                                </div>
                            </div>





                        </form>
                    </div>



                </div>
            </div>




        </div>
        <!-- Row -->

    </div>


{% endblock %}
