{% extends 'layout.html.twig' %}

{% block title %}SYGDOB| REINITIALISATION MOT DE PASSE{% endblock %}

{% block body %}

    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="error-title">OUPS!</h1>
                <h3 class="text-uppercase error-subtitle">Désolé !Vous n'êtes pas autorisé à accéder à cette ressource</h3>
                <p class="text-muted mt-4 mb-4"> Veuillez retourner à l'accueil ou contacter le service Informatique  </p>
                <a href="{{ path('security_login') }}" class="btn btn-info btn-rounded waves-effect waves-light mb-5">Retour à l'accueil</a> </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>


{% endblock %}
